html,body {
  margin:0;
  padding:0;
  overflow-x:hidden;
  background-color:lightslategray;
  font-family: sans-serif;
}

.menu {
  background-color: black;
  color: gray;
  font-size: 18px;
  width: 100%;
  height: 100px;
  padding: 0 0 0 20px;
  vertical-align: middle;
  float: left;
  
} 

.menu-items {
  float: right;
  position: relative;
  top: -55px;
  right: 30px;  
  color: white;
  
}
.menu-items a:hover {
  font-size: 1.55vw;
  font-weight: lighter;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  
}

.nav {
  color: white;
  text-decoration: none;
  padding: 5px;
}

.header-graphic {
  height: 200px;
  width: 100%;
  margin: 0;
  padding: 0;
  
}

.header-graphic-title {
  align: right;
  float: right;
  position: relative;
  top: -95px;
  right: 30px;  
  color: white;
  background-color: rgba(255, 0, 0, 0.20);
  padding: 10px;
}


.h1 {
  font-size: 10px;
}

.car-pic {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.about-me {
  height: 550px;
  width: 100%;
  padding-left: 30px;
  background-image: url('../alexreveles.github.io/images/alex.jpeg');

}

.section-title {
  width: 15%;
  float:left;
  font-size: 20px;
  border-right: 3px solid red;
}

.about-me-text {
  width: 70%;
  align: right;
  float: right;
  position: relative;
  right: 50px;
  
}

.about-me-items {
font-size: 12px;
line-height: 1.7;
text-align: centert;
padding: 20px;
margin-left: 30px;
}

.work-section {
  height:450px;
  float:left;
  padding-left: 30px;
  padding-top: 50px;
} 
/* start herer*/
.grid-container  {
  width: 70%;
  float: right;
  position: relative;
  right: 210px;
  padding-top: 3px;
}

.grid-container .image-1 img {
  border: 3px solid black;
}
.grid-container a:hover {

  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(252, 225, 56, 0.8));
  opacity: 50%;
  transition: 0.5s;

}
.grid-container .image-2 img {
  border: 3px solid black;
}
.grid-container .image-3 img {
  border: 3px solid black;
}
.grid-container .image-4 img {
  border: 3px solid black;
}
.grid-container .image-5 img {
  border: 3px solid black;
}

.grid-container .image-1 {
  float: right;
  position: relative;
  right: 50px;
}
.grid-container .image-2 {
  float: right;
  position: relative;
  right: -360px;
  top: -213px;
}
.grid-container .image-3 {
  float: right;
  position: relative;
  right: -360px;
  top: -216px;
}
.grid-container .image-4 {
  float: right;
  position: relative;
  right: 50px;
  top: -216px;
}
.grid-container .image-5 {
  float: right;
  position: relative;
  right: -155px;
  top: -430px;
}
/* end here */
.text-block {
  background-color: rgba(0, 0, 0, 0.5);
  color: white; 
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.item-1 {
  position: absolute;
  float: left;
  left: 0;
  bottom: 25px;
}

.item-2 {
  position: absolute;
  float: left;
  left: 0;
  bottom: 15px;
}
.item-3 {
  position: absolute;
  float: left;
  left: 0;
  bottom: 15px;
}
.item-4 {
  position: absolute;
  float: left;
  left: 0;
  bottom: 15px;
}
.item-5 {
  position: absolute;
  float: left;
  left: 0;
  bottom: 15px;
}


.contact-me {
  padding-left: 30px;
}

.contact-me-items a:hover {
  color: black;
  text-decoration: none;
  padding: 25px;
}

.nav-bottom {
  float:bottom;
  padding: 50px;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 1em; 
}